html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow:
        0 0 0 0.1rem white,
        0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.login-card {
    width: 400px;
    margin-top: 3rem;
    background-color: rgba(50, 50, 50, 0.65);
}

.login-page {
    background-image: url(/images/film-strip-bg.jpg);
    background-size: cover;
    background-position: center;
}

.movie-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-end;
}

.movie-filters .form-control,
.movie-filters .form-select {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 100%;
}

.movie-filter-search {
    flex: 1 1 100%;
    min-width: 150px;
    display: flex;
    gap: 0.5rem;
}

.movie-filter-search .form-control {
    flex: 1;
}

@media (min-width: 768px) {
    .movie-filter-search {
        flex: 2 1 0;
    }

    .movie-filter-search .form-control {
        width: 100%;
    }
}

.movie-filter-select {
    flex: 1 1 100%;
    min-width: 150px;
}

.movie-filter-price {
    flex: 1 1 100%;
    min-width: 200px;
}

.movie-filter-sort {
    flex: 1 1 100%;
    min-width: 200px;
}

@media (min-width: 768px) {
    .movie-filter-search {
        flex: 2 1 0;
    }

    .movie-filter-select {
        flex: 1 1 0;
    }

    .movie-filter-price {
        flex: 1 1 0;
    }

    .movie-filter-sort {
        flex: 2 1 0;
    }
}
